beautifulsoup4==4.12.3
blinker==1.8.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.7
Flask==3.0.3
Flask-CORS==3.0.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.0
pdf2image==1.17.0
pdfkit==1.0.0
pdfminer.six==20231228
pillow==10.3.0
pycparser==2.22
PyMuPDF==1.24.4
PyMuPDFb==1.24.3
pytesseract==0.3.10
soupsieve==2.5
Werkzeug==3.0.3
